/*
 *  2a Prova de Design Web - 27/06/2017
 *  Professor Rafael Escalfoni
 *  
 *	Nota: 6,4 + 1,0 + TG;
 *
 * 	Autor: Ana Clara Machado de Faria
*/

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item a (exemplo)
 * correto
 * pontuação: 0,5;
*/

.box {
	background-color: #F5F5F5;
}
.box i {
	background-color: #ddd;
	
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item b
 * correção: seletor incorreto; deveria ser body ou *
 * pontuação: 0,25;
*/

.box{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}



/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/


.box i {
	border-radius: 100%;
	padding: 15px;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item d
 * correção: line-height sem unidade - em;
 * pontuação: 0,4;
*/


.box-heading {
	text-align: center;
	
}
.box-content{
	text-align: justify;
	font-size: 0.8em;
	line-height: 1.5;

}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item e
 * correção: span - font-weight: normal;
 * pontuação: 0,4;
*/

.box-heading {
	font-weight:bolder;

}
.box-heading span{
	font-weight: none;
}




/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item f
 * correto
 * pontuação: 1,0;
*/


.btn {
	border: 2px solid #000;
	border-radius: 5px;
	text-transform: uppercase;

}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item a
 * correto
 * pontuação: 0,5;
*/


.box {
	width: 270px;
	height: 330px;

}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item b
 * incorreto
 * pontuação: 0;
*/


.box {
	padding-top: 15px;
}
/* -------- fim da resposta -------- */

/* 
 * Questao 2
 * II. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/
.box{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 2
 * II. Bordas, Cores e Fontes 
 * - item d
 * correto
 * pontuação: 0,5;
*/
.btn {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 2
 * II. Bordas, Cores e Fontes 
 * - item e
 * correção: left:85px; como chegar neste número? basta subtrair a largura de .box da largura do .btn e dividir por 2
 * pontuação: 0,9;
*/
.box{
	position: relative;
}
.btn {
	position: absolute; 
	margin: 0 auto;
	bottom: 10px;
	margin-left: 65px;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 2
 * III. Efeitos
 * - item a
 * correto
 * pontuação: 1,0;
*/
.box:hover {
	background-color: #fff;
	border-bottom: 2px solid #428BCA;
	border-left:1px solid #444;
	border-top:1px solid #444;
	border-right:1px solid #444;
	
	
}
