/*
 *  2a Prova de Design Web - 27/06/2017
 *  Professor Rafael Escalfoni
 *  Nota: 7,5 + 1,0 + TG;
 * 	Autor: <Gabriel Silva Knust>
*/

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item a (exemplo)
 * correto
 * pontuação: 0,5;
*/


.box{
	background-color:#F5F5F5;
}
.box-heading-ico{
	background-color:#DDD;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item b
 * correto
 * pontuação: 0,5;
*/


body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#444;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/
.box-heading-ico{
	border-radius:50px;
}
/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item d
 * correto
 * pontuação: 0,5;
*/
.box-heading{
	text-align:center;
}
.box-content{
	text-align:justify;
	font-size:0.8em;
	padding:1.5em;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item e
 * correto
 * pontuação: 0,5;
*/

.box-heading{
	font-weight:bold;
}
.box-heading span{
	font-weight:normal;
}

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item f
 * correto
 * pontuação: 1,0;
*/

.btn{
	text-transform:uppercase;
	border:2px solid black;
	border-radius:5px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 2 
 * II. Bordas, Cores e Fontes 
 * - item a
 * correto
 * pontuação: 0,5;
*/

.box{
	width:270px;
	height:330px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 2 
 * II. Bordas, Cores e Fontes 
 * - item b
 * correto
 * pontuação: 0,5;
*/
.box-heading-ico{
	margin-top:15px;
}
/* -------- fim da resposta -------- */

/* 
 * Questao 2 
 * II. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/

.box{
	margin:20px 10px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 2 
 * II. Bordas, Cores e Fontes 
 * - item d
 * correto
 * pontuação: 0,5;
*/

.btn{
	padding:5px 10px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 2 
 * II. Bordas, Cores e Fontes 
 * - item e
 * correto; 
 * pontuação: 1,0;
*/
.box{
	position:relative;
}
.btn{
	position:absolute;
	bottom:10px;
	left:35%;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 3 
 * III. Efeitos
 * - item a
 * correto
 * pontuação: 1,0;
*/

.box:hover
{
	background-color:white;
	border-bottom:#428BCA solid 2px;
	border-top:#444 solid 1px;
	border-left:#444 solid 1px;
	border-right:#444 solid 1px;
}