/*
 *  2a Prova de Design Web - 27/06/2017
 *  Professor Rafael Escalfoni
 *  
 *	Nota: 6,7 + 1,0 + TG;
 *
 * 	Autor: Marcos Antonio Pereira Junior
*/

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item a (exemplo)
 * correto
 * pontuação: 0,5;
*/


.box{
background-color:#f5f5f5;

}
.box-heading-ico{
background-color:#ddd;
	
}
/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item b
 * correto
 * pontuação: 0,5;
*/
.box{
font-family:"Helvetica Neaue",Helvetica,Arial,sans-serif;
color:#444; 

}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/

.box-heading-ico{
border-radius:55px;
	
}



/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item d
 * obs: faltou a unidade de line-height
 * pontuação: 0,4;
*/

.box-heading{
text-align:center;

}
.box-content{
text-align:justify;
font-size:0.8em;
line-height:1.5;
}


/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item e
 * incorreto
 * pontuação: 0;
*/
h3{

	text-decoration:uppercase;
}
span{
	text-decoration:none;
	
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item f
 * obs: faltou text-transform:uppercase;
 * pontuação: 0,8;
*/
.btn{
	border:2px solid #000;
	border-radius:5px;
	
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item a
 * correto
 * pontuação: 0,5;
*/
.box{
	width:270px;
	height:330px;
	
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item b
 * correto
 * pontuação: 0,5;
*/
.box-heading-ico{
	margin-top:15px;

}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/
.box{
	margin:20px 10px;
	
}
/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item d
 * correto
 * pontuação: 0,5;
*/
.btn{
	padding:5px 20px;
	
}
/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item e
 * correto
 * pontuação: 1,0;
*/
.box{
	position:relative;
}
.btn{
	position:absolute;
	bottom:10px;
	left:30%;
	
	
	
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * III. Efeitos
 * - item a
 * correto
 * pontuação: 1,0;
*/
.box:hover{
	background-color:#fff;
	border-bottom:2px solid #428BCA;
	border-top:1px solid #444;
	border-left:1px solid #444;
	border-right:1px solid #444;
}

