/*
 *  2a Prova de Design Web - 27/06/2017
 *  Professor Rafael Escalfoni
 *  
 *	Nota: 5,3 + 1,0 + TG;
 *
 *	Autor: <Samuel Rimes Soares de Araujo>
*/

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item a (exemplo)
 * correto
 * pontuação: 0,5;
*/

.box{
	background-color:#f5f5f5;
	
}

.box i{
	background-color:#ddd; 
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item b
 * obs: seletor incorreto
 * pontuação: 0,3;
*/

.body{
	font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
	color:#444;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/

.box i{
	border-radius: 50px;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item d
 * line-height
 * pontuação: 0,4;
*/

.box-heading{
	text-align: center;
}

.box-content{
	font-size: 0.8em;
}
.box-content p{
	text-align:justify !important;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item e
 * .box-heading: bold e .box-heading span normal;
 * pontuação: 0,25;
*/

.box-heading{
	font-weight: bolder;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item f
 * correto
 * pontuação: 1,0;
*/


.btn{
	border: 2px solid #000;
	border-radius: 5px;
	text-transform: uppercase;
}



/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item a
 * correto
 * pontuação: 0,5;
*/

.box {
	width:270px;
	height:330px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item b
 * incorreto
 * pontuação: 0;
*/

.box i{
	padding: 15px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/

.box{
	margin: 20px 10px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item d
 * invertido: 5px 10px;
 * pontuação: 0,25;
*/

.btn{
	padding:10px 5px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item e
 * incorreto
 * pontuação: 0
*/

.box-heading{
	padding:15px;
}
.box-content{
	text-align: center;
}

.box-content p{
	margin-top:0;
	margin-bottom: 50px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * III. Efeitos
 * - item a
 * correto
 * pontuação: 1,0;
*/

.box:hover{
	background-color:#fff;
	border-bottom: 2px solid #428BCA !important;
	border: 1px solid #444;
}