/*
 *  2a Prova de Design Web - 27/06/2017
 *  Professor Rafael Escalfoni
 *  
 *	Nota: 7,5 + 1,0 + TG;
 *
 * 	Autor: José Vítor Heringer da Silva
*/

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item a (exemplo)
 * correto
 * pontuação: 0,5;
*/


.box{
	background-color: #F5F5F5;
}

.box .box-heading .box-heading-ico{
	background-color: #ddd;
}



/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item b
 * correto
 * pontuação: 0,5;
*/

*{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/

.box .box-heading .box-heading-ico{
	border-radius: 50%;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item d
 * correto
 * pontuação: 0,5;
*/

.box .box-heading{
	text-align: center;
}

.box .box-content{
	font-size: 0.8em;
	line-height: 1.5em;
	text-align: justify;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item e
 * correto
 * pontuação: 0,5;
*/

.box-heading h3{
	font-weight: bold;
}

.box-heading span{
	font-weight: normal;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item f
 * correto
 * pontuação: 1,0;
*/

.btn{
	text-transform: uppercase;
	border-radius: 5px;
	border: solid 2px #000; 
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item a
 * correto
 * pontuação: 0,5;
*/

.box{
	width: 270px;
	height: 330px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item b
 * correto
 * pontuação: 0,5;
*/

.box .box-heading .box-heading-ico{
	margin-top: 15px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,5;
*/

.box{
	margin: 20px 10px 20px 10px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item d
 * correto
 * pontuação: 0,5;
*/

.btn{
	padding: 5px 10px 5px 10px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Bordas, Cores e Fontes 
 * - item e
 * correto
 * pontuação: 1,0;
*/
.box{
	position: relative;
}

.btn{
	position: absolute;
	bottom: 10px;
	left: 93px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * III. Efeitos
 * - item a
 * correto
 * pontuação: 1,0;
*/

.box:hover{
	background-color: #ffffff;
	border: solid 1px #444;
	border-bottom: solid 2px #428BCA;
}