/*
 *  2a Prova de Design Web - 27/06/2017
 *  Professor Rafael Escalfoni
 *  
 *	Nota: 6,9 + 1,0 + TG;
 *
 * 	Autor: <Francine Sanglar da Rocha>
*/

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item a (exemplo)
 * correto
 * pontuação: 0,5;
*/

.box {
	background-color: #f5f5f5;
}

.fa {
	background-color: #ddd;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item b
 * correto
 * pontuação: 0,5;
*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item c
 * correto
 * pontuação: 0,4;
*/

.fa {
	border-radius: 100px;
	padding: 10px; //a bolinha estava ficando pequena 
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item d
 * correto
 * pontuação: 0,5;
*/

.box-heading {
	text-align: center;
}

.box-content {
	text-align: justify;
	font-size: 0.8em;
	line-height: 1.5em;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item e
 * correto
 * pontuação: 0,5;
*/


.box h3 {
	font-weight: bold;
}

.box h3 span {
	font-weight: normal;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * I. Bordas, Cores e Fontes 
 * - item f
 * correto
 * pontuação: 1,0;
*/

.btn {
	border-radius: 5px;
	text-transform: uppercase; 
	border: solid 2px #000;
}


/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Tamanhos, esmpaçamentos e posicionamento 
 * - item a
 * correto
 * pontuação: 0,5;
*/

.box {
	width: 270px;
	height: 330px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Tamanhos, esmpaçamentos e posicionamento 
 * - item b
 * incorreto
 * pontuação: 0;
*/

.fa {
	margin-left: 15px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Tamanhos, esmpaçamentos e posicionamento 
 * - item c
 * correto
 * pontuação: 0,5;
*/

.box {
	margin: 20px 10px 20px 10px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Tamanhos, esmpaçamentos e posicionamento 
 * - item d
 * correto
 * pontuação: 0,5;
*/

.btn {
	padding: 5px 10px 5px 10px;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * II. Tamanhos, esmpaçamentos e posicionamento  
 * - item e
 * incorreto
 * pontuação: 0;
*/

.btn {
	margin-bottom: 10px;
	margin-left: 35%;
}

/* -------- fim da resposta -------- */

/* 
 * Questao 1 
 * III. Efeitos
 * - item a
 * correto
 * pontuação: 1,0;
*/

.box:hover{
	background-color: #FFF;
	border-bottom: solid 2px #428BCA;
	border-left: solid 1px #444;
	border-right: solid 1px #444;
	border-top: solid 1px #444;
}